<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css" rel="stylesheet" />
    <link href="/Content/css/galleriffic-2.css" rel="stylesheet" />
    <link href="/Content/css/main.css" rel="stylesheet" />
</head>
<body class="header-h2">
    <h2>
        התשלום בוצע בהצלחה
        <br/>
        בדקות הקרובות ישלח למייל עמו נרשמתם:
        <br/>
        1.מייל עם חשבונית מס קבלה.
        <br/>
        2.מייל עם קישור להורדת הנגן+שם משתמש וסיסמה.
        <br/>
        האזנה נעימה

    </h2>
    <h4><a href="/index.html#/account">לצפייה בחשבון</a></h4>
</body>
</html>