<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css" rel="stylesheet" />
    <link href="/Content/css/galleriffic-2.css" rel="stylesheet" />
    <link href="/Content/css/main.css" rel="stylesheet" />
</head>
<body>
    <h2 class="header-h2">
        התשלום נכשל,
        <br />
        אנא צור קשר עם שירות הלקוחות
    </h2>
</body>
</html>
