<form class="custom-form" name="courseForm" novalidate="">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 ng-show="editMode">
        עריכה -
        {{::course.Name}}
      </h3>
      <h3 ng-hide="editMode">
         יצירת קורס
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="row form-group">
            <label class="col-sm-1 control-label">שם הקורס</label>
            <div class="col-sm-4">
              <input class="form-control" type="text" name="name" ng-model="course.Name" required="">
              <div  class="errorMessage" ng-messages="courseForm.name.$error" ng-show="courseForm.$submitted">
                <div ng-message="required" ng-show="courseForm.name.$error.required"> שדה זה הוא חובה.</div>
              </div>
            </div>
            <div class="col-sm-1"></div>
            <label class="col-sm-1 control-label"> תיאור</label>
            <div class="col-sm-4">
              <textarea class="form-control" ng-model="course.Description"></textarea>
            </div>
          </div>
          <br/>
          <div class="row form-group">
            <label class="col-sm-1 control-label"> קטגוריה</label>
            <div class="col-sm-4">
              <md-select ng-model="course.CourseCategoryId" placeholder="בחר קטגוריה" name="category" required>
                <md-option ng-value="category.Id" ng-repeat="category in categories">{{ category.CategoryName }}</md-option>
              </md-select>
              <div class="errorMessage" ng-messages="courseForm.category.$error" ng-show="courseForm.$submitted">
                <div ng-message="required" ng-show="courseForm.category.$error.required"> שדה זה הוא חובה.</div>
              </div>
            </div>
            <div class="col-sm-1"></div>
            <label class="col-sm-1 control-label">האם תוכן חופשי לגישה?</label>
            <div class="col-sm-4">
              <md-checkbox ng-model="course.IsAuthorizedContent" aria-label=""></md-checkbox>
            </div>
          </div>
          <br/>

          <br/>
          <div class="row form-group">
            <label class="col-sm-1 control-label">רשימת תגיות</label>
            <div class="col-sm-4">
              <md-chips ng-model="course.Tags" md-autocomplete-snap="" md-transform-chip="transformChip($chip)" md-require-match="true">
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.TagName" placeholder="בחר תגיות">
                  <span md-highlight-text="searchText">{{item.TagName}}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
              <strong>{{$chip.TagName}}</strong>
            </span>
                </md-chip-template>
              </md-chips>
            </div>
          </div>
          <br/>
          <br/>
          <hr />
          <br/>
          <h3>תמונות</h3>
          <div class="row form-group">
            <label class="col-sm-1 control-label">תמונה לקורס</label>
            <div class="col-sm-10">
              <img class="imageThumbnail" onerror="imgError(this)" ng-src="{{course.ImageUrl}}" ng-show="course.ImageFile == undefined" />
              <img class="imageThumbnail" ngf-src="course.ImageFile" />
              <div ngf-select ng-model="course.ImageFile" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB">
                <div class="btn btn-primary" type="file">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div type="submit" class="btn btn-lg btn-success" ng-click="save(courseForm.$valid)">
    שמור
  </div>
</form>
